*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    color: #000;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

#menu {
    background-color: rgba(255, 255, 255, 0.9);;
    /* box-shadow: 0px 3px 5px  rgba(0, 0, 0, 0.2); */
    padding: 0;
}

#menu ul {
    list-style: none;
    background-color: rgba(255, 255, 255, 0);;
    padding: 0;
    margin: 0;
    align-items: center;
}

#menu ul li {
    display: inline;
}

.nav-link{
    font-size: 1rem;
}

#menu ul li a{
    color: #000;
    padding-left: 3rem;
    padding-right: 3rem;
    display: inline-block;
    text-decoration: none;
}

#menu ul li a:hover{
    color:#E82B2B;
}

#menu .cotacao{
    background: #c72121;
    padding: 8px 30px;
    margin-left: 20px;
    border-radius: 40px;
    color: #fff;
}

#menu .cotacao:hover,
#menu .cotacao:focus:hover {
    color: #fff;
    background: #E82B2B;
}

.nav-item:hover{
    color: #E82B2B;
}

.servicos1{
    margin-top: 120px;
    background-color: #fff;
}

.servicos2{
    background-color: #e7e7e7;
}
  
.banner{
    min-width: 100%;
}

.icone{
    padding: 0px;
    max-width: 64px;
}
.container-fluid{
    margin:0px;
    padding: 0px;
}
.texto-servicos{
    color: #000;
    text-decoration: none;
    font-size: 0.9em;
    margin: 0;
}
.texto-servicos:hover{
    color: #E82B2B;
}
.aba-servicos{
    background-color: #e7e7e7;
    color: #9F1E12;
    font-weight: 600;
    width: 12rem;
    border-radius: 20px 20px 0px 0px;
    padding-top: 5px;
}
.servicos{
    color:#c72121;
    font-weight: 700;
    padding-top: 7rem;
    padding-bottom: 4rem;
  }
  .servicos-cards{
    display: inline-block;
}
.card{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
    margin: 0 20px;
}
.img1 img{
    height: 250px;
    border-top-right-radius: 15px ;
    border-top-left-radius: 15px ;
    width: 100%;
}
.main-text{
    text-align: center;
}
.main-text h2{
    color: #fff;
    background-color:#c72121;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;
    padding: 0.4rem 0;
}
.main-text p{
    font-size: 1rem;
    padding: 0.6rem 2rem;
    text-decoration: none;
}
  .seguradoras{
    font-family: 'Poppins', sans-serif;
    color:#c72121;
    font-weight: 700;
    padding-top: 7rem;
    padding-bottom: 4rem;
  }
  .localizacao{
    font-family: 'Poppins', sans-serif;
    color:#c72121;
    font-weight: 700;
    padding-top: 7rem;
    padding-bottom: 4rem;
  }
 